* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* metadata profile*/
.metadata {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 15px;
  font-size: 18px;
  img {
    /* display: flex;
    justify-content: space-around; */
    margin: 10px;
    width: 42px;
    border-radius: 50%;
  }
}

/* main img*/
.udimg img {
  width: 700px;
  height: auto;
  margin-top: 5px;
  margin-left: 20px;
}

/* icon img*/
.icon {
  display: flex;
  margin: 8px 20px;
  .heart .icon img {
    width: 30px;
    margin-left: 20px;
  }
}

// .icon .heart .icon img {
//   width: 30px;
//   margin-left: 20px;
// }

.feeds {
  width: 700px;
  margin-left: 5%;
}

.article {
  margin-top: 100px;
  width: 740px;
  height: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  .icon img {
    width: 30px;
    margin-right: 10px;
  }
}

/* main*/
.main {
  background-color: #f0f0f0;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
}
.main-right {
  position: fixed;
  display: flex;
  width: 360px;
  height: 700px;
  margin-top: 100px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.effect {
  width: 18px;
}

ul {
  list-style: none;
}

/* 댓글창 라인*/
.like {
  display: flex;
  align-items: center;
  img {
    margin: 10px 10px 10px 25px;
    width: 40px;
    border-radius: 50%;
  }
}

.font span {
  font-weight: bold;
}
#contents {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
  .text {
    margin-left: 10px;
    width: 580px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .bold {
    font-weight: bold;
    margin-left: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.button {
  color: #ddd;
  background-color: #fff;
  border: none;
  font-size: 12px;
  margin-left: 10px;
}

.contents {
  display: flex;
}

/* 댓글창 */
.comment {
  width: 739px;
  height: 40px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
  margin-top: 20px;
}

.commentBox input {
  width: 600px;
  height: 30px;
  margin-top: 5px;
  margin-left: 50px;
}

#submit-btn {
  border: none;
  background-color: #fff;
  color: #0095f6;
}

.comment-text {
  margin-left: 40px;
  width: 580px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  .aricle-bold {
    font-weight: bold;
  }
}

//유저 코멘트 박스 scss 설정

.userWriteComment {
  margin-left: 40px;
}
